<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bubba.bubbasgrocerylist"
    android:versionCode="9"
    android:versionName="1.4.2">

    <uses-sdk android:minSdkVersion="2" android:targetSdkVersion="2"/>
    
    <uses-permission android:name="android.permission.SEND_SMS" 
        			 android:required="false"/>
    
	<supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:anyDensity="true"/>
	
    <application android:icon="@drawable/bubbadevil" 
        		 android:label="@string/bubba_s_grocery_list_app" 
        		 android:debuggable="false">
        <activity android:name=".BubbasGroceryListAppActivity"
                  android:label="@string/bubba_s_grocery_list_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
 		<activity android:name=".EditTextMsgNumbersActivity"></activity>
 		<activity android:name=".BigListActivity"></activity>
    </application>
</manifest>